html, body {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: center;
  height: 400px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.main {
  background-color: #05A8AA;
  color: DarkSlateGray;
  padding: 1%;
  position: center;
  text-align: left;
}

* {
  font-family: Georgia;
  font-size: 20px;
}

h1 {
  font-family: cursive;
  font-size: 40px;
  color: WhiteSlateGray;
}

p {
  font-style: oblique;
}

.container {
  margin: auto;
  padding: 40px;
  text-align: center;
  align-items: center;
  width: 100%;
}
