html, body {
  margin: 0;
  padding: 0;
}


.header {
  background-color: #999;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.main {
  background-color: #05A8AA;
  color: DarkSlateGray;
  text-align: center;
}

p {
  font-size: 18px;
}

* {
  font-family: Georgia;
}

.container {
  left margin: 10;
  padding: 10;
  width: 25%;
  align-content: center;
}

.col {
  text-align: center;
}

ul {
  color: #444444;
  font-family: 'Calibri', sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

ol {
  color: #444444;
  font-family: 'Calibri', sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

p {
  color: #444444;
  line-height: 32px;
  font-family: 'Calibri', sans-serif;
  font-size: 20px;
  font-weight: 100;
}
